---
- name: forward-port {{ _protocol }}/{{ _self_port }} -> {{ _dest_addr }}:{{ _dest_port }}
  firewalld:
    rich_rule: rule family=ipv4 forward-port port={{ _self_port }} protocol={{ _protocol }} to-port={{ _dest_port }} to-addr={{ _dest_addr }}
    permanent: yes
    immediate: yes
    state: enabled
