---
- name: Enable masquerade for firewalld
  firewalld:
    masquerade: yes
    permanent: yes
    immediate: yes
    state: enabled
  # when dest_addr is specified explicitly
  when: dest_addr == _dest_addr

- name: forward-port {{ _protocol }}/{{ _self_port | default("?", true) }} -> {{ _dest_addr }}:{{ _dest_port | default("?", true) }}
  firewalld:
    rich_rule: rule family=ipv4 forward-port port={{ _self_port }} protocol={{ _protocol }} to-port={{ _dest_port }} to-addr={{ _dest_addr }}
    permanent: yes
    immediate: yes
    state: "{{ 'disabled' if remove else 'enabled' }}"
  loop: "{{ ['tcp', 'udp'] if protocol == '' else [protocol] }}"
  loop_control:
    loop_var: _protocol
  # one of self_port and dest_port must be defined
  when: self_port != "" or dest_port != ""
